.box{
    display: flex;
    justify-content: space-between;
}
.image{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 450px;
}
.text{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 450px;
}
.tittle{
    color: $btn;
}
.tel{
    color: gray;
    margin-left: 15px;
}
.tittle:hover{
    color:  #805c2d;
}
.about{
    display: flex;
    justify-content: space-between;
    margin-left: 450px;
    position: sticky;

}
.our{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
.wrap{
    background-color: $btn;
    border: 1px solid $btn;
    border-radius: 5px;
    padding: 8px 8px;
    color: white;
    margin-right: 450px;
}
.wrap:hover{
    background-color: #805c2d;
    border: 1px solid #805c2d;
}
.content{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.wrapper{
    width: 100%;
    width: 100%;
    background-color: rgba(33,37,41, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mein{
    margin-top: 200px;
    width: 99%;
    max-width: 900px;
    height: auto;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.mein img{
    align-items: center;
    width: 25%;
    height: 25%;

}
.mein h5{
    font-size: 25px;
    color: white;
}
.mein h1{
    font-size: 90px;
    color: white;
}
.mein button{
    background-color: $btn;
    border: 1px solid $btn;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 340px;
}